@use "@styles/variables" as v;

.book-home {
    margin-bottom: 2rem;
    .book-home-nav{
        padding: 0 1rem 0 0 ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
    }

    .book-home-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .book-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        .book-item {
            list-style: none;
            display: flex;
            flex-direction: column;
            border: 1px solid v.$primaryColor;
            border-radius: 5px;
            width: 250px;
            .book-img {
                display: flex;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                img {
                    height: 100px;
                }
            }
            .book-info {
                border-top: 1px solid v.$primaryColor;
                padding-top: 1rem;
                padding: 1rem;
                ul{
                    li{
                        font-size: 0.9rem;
                        font-style: italic;
                        list-style: none;
                    }
                }
                .lang{
                    margin-top: 0.5rem;
                    border-top: 1px solid v.$primaryColor;
                    padding-top: 0.5rem;
                    font-size: 0.9rem;

                }
                a {
                    color: v.$primaryColor;
                    text-decoration: none;
                }
            }
        }
    }
}
