@use "@styles/variables" as v;

.book-home {
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    .book-home-nav {
        margin-bottom: 1rem;
        padding: 0 1rem 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 1.2rem;
            font-weight: bold;
            color: v.$textColor;
        }

        .book-home-nav-right {
            display: flex;
            align-items: center;
            gap: 2rem;
            padding-right: 2rem;
            .filter-icon {
                cursor: pointer;
                color: #CED4DA;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    .book-home-body {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
    }

    .book-list {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        .book-home-item {
            box-shadow: 0px 0px 5px 0px v.$primaryColor;
            list-style: none;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            width: 250px;

            .book-edit-box{
                position: relative;
                
                .book-edit-icon{
                    position: absolute;
                    right: 5px;
                    z-index: 1;
                    top: 5px;
                    cursor: pointer;

                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            .book-primary-img {
                display: flex;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                img {
                    height: 100px;
                }
            }
            .book-home-info {
                border-top: 1px solid v.$primaryColor;
                padding-top: 1rem;
                padding: 1rem;

                .book-price{
                    font-size: 1rem;
                }
                ul {
                    li {
                        font-size: 0.9rem;
                        font-style: italic;
                        list-style: none;
                    }
                }
                .lang {
                    margin-top: 0.5rem;
                    border-top: 1px solid v.$primaryColor;
                    padding-top: 0.5rem;
                    font-size: 0.9rem;
                }
                a {
                    color: v.$primaryColor;
                    text-decoration: none;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.filter-books-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
