@use "@styles/variables" as v;

.header-main {
    height: 70px;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: v.$primaryColor;
    .header-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
            .logo {
                font-weight: bold;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
                line-height: 1.5rem;
            }
        }

        .user-icon {
            background-color: whitesmoke;
            height: 2rem;
            width: 2rem;
            padding: 0;
            border-radius: 50%;
            display: flex;
            color: v.$primaryColor;
            font-weight: bold;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
        }
    }
}

.footer-main{
    padding: 0.7rem;
    // min-height: 140px;
    width: 100%;
    background-color: v.$primaryColor;
    filter: contrast(120%);
    color: white;

    .footer-bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .social-media{
            display: flex;
            gap: 0.3rem;
            a{
                color: white;
                .sm-icon{
                    cursor: pointer;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
