@use "@styles/variables" as v;

.category-home{
    margin-top: 3rem;
    width: 250px;
    height: calc(100vh - 70px - 6rem);
    padding: 2rem;
    border-radius: 0 5px 5px 0;
    border: 1px solid v.$blackColor;
    border-left: none;
    h2{
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: v.$blackColor;
        border-bottom: 1px solid v.$blackColor;
    }
    .category-list{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        // justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        li{
            list-style: none;
            a{
                color: v.$primaryColor;
                text-decoration: none;
            }
        }
    }
}