@use "@styles/variables" as v;

.category-home {
    width: 100%;
    max-width: 250px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: whitesmoke;
    border-left: none;
    border-top: none;
    h2 {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        padding: 0.5rem 0;
        border-bottom: 2px solid v.$primaryColor;
    }
    .category-list {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        // justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        li {
            list-style: none;
            button {
                color: v.$primaryColor;
                font-weight: bold;
                font-size: 1rem;
                text-transform: capitalize;
                text-decoration: none;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
