@use "@styles/variables" as v;

.category-home {
    width: 100%;
    max-width: 250px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    background-color: v.$backgroundColor;
    border-left: none;
    border-top: none;
    h2 {
        // text-align: center;
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        width: fit-content;
        border-bottom: 1px solid v.$primaryColor;
        color: v.$primaryColor;
    }
    .category-list {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        // justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        li {
            list-style: none;
            button {
                color: v.$primaryColor;
                text-transform: capitalize;
                text-decoration: none;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        .active-cat{
            background-color: v.$primaryColor;
            color: white;
            padding: 0 0.5rem;
            border-radius: 5px;
        }
    }
}
