@use "@styles/variables" as v;

.category-home{
    margin-top: 3.2rem;
    width: 100%;
    max-width: 250px;
    height: calc(100vh - 70px - 5.2rem);
    border-radius: 0 5px 0 0;
    border: 1px solid gray;
    box-shadow: 1px 1px 4px 2px gray;
    border-left: none;
    h2{
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        padding: 0.5rem 0;
        background-color: v.$primaryColor;
        border-radius: 0 5px 0 0;
        color: white;
        // border-bottom: 1px solid v.$blackColor;
    }
    .category-list{
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        // justify-content: flex-start;
        gap: 1rem;
        flex-wrap: wrap;
        li{
            list-style: none;
            button{
                color: v.$primaryColor;
                font-weight: bold;
                font-size: 1rem;
                text-transform: capitalize;
                text-decoration: none;

                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}